.banner {
  text-align: center;
  margin-top: 50px;
}
.banner img {
  height: 250px;
  border-radius: 10px;
  box-shadow: 10px 10px 20px gray;
}
.main-button {
  text-align: center;
  margin-top: 10px;
}
.main-button button {
  font-size: 22px;
  padding: 20px 60px;
}
.menu-bar {
  margin-top: 30px;
  text-align: center;
  background-color: black;
  line-height: 50px;
  margin-bottom: 40px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
.menu-bar a {
  text-decoration: none;
  font-size: 18px;
  color: white;
  padding: 7px;
  margin-right: 10px;
  font-weight: 500;
}
